<%= form_for @site_iteration do |f| %>
  <div class='field'>
    <%= f.label :screenshot, 'Screenshot' %>
    <br/>
    <%= f.file_field :screenshot %>
  </div>

  <div class='field'>
    <%= f.label :iteration_title, 'Iteration Title' %>
    <br/>
    <%= f.text_field :iteration_title %>
  </div>

  <div class='field'>
    <%= f.label :iteration_description, 'Iteration Description' %>
    <br/>
    <%= f.text_area :iteration_description, size: '100x10' %>
  </div>

  <div class='field'>
    <%= f.label :publish_datetime, 'Published At' %>
    <br/>
    <%= f.datetime_select :publish_datetime %>
  </div>

  <div class='field'>
    <%= f.label :referential_post, 'Referential Post' %>
    <br/>
    <%= f.select :referential_post_id, @referential_posts, include_blank: true %>
  </div>

  <%= f.submit "Create" %>
<% end %>
